@import url(reset.css);
/* ============================================================================ */
h1{
    color: black;
}
h2{
    color: red;
}
h3{
    color: rgb(59, 118, 0);
}
li{
    color: aqua;
}
 
.nav-item{
    color: blue;
}
.footer-link{
    color: blueviolet;
}