/*Обнуление*/
*{padding: 0;margin: 0;border: 0;}
*,*:before,*:after{-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{height:100%;width:100%;font-size:100%;line-height:1;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a,a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: inherit;}
/*--------------------*/

body{
    font-family: "Poppins";
    font-weight: 400;
    color: #999999;
    overflow-x:hidden
}

body._lock {
	overflow: hidden;
}

[class*="__container"]{
    max-width: 1170px;
    margin: 0 auto;
    padding: 0px 15px;
}
/* ========================================== */
.wrapper{
    min-height: 100%;
    display: flex ;
    flex-direction: column;
    overflow: clip ;
}

.page{
    display: inline-block;
    flex: 1 1 auto;
}
/* ===================================HEADER====================================== */
.header{
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    background-color: #ffffffde;
    z-index: 50;
}

.header__container {
    display: flex;
    max-height: 74px;
    align-items: center;
     
}
 .menu__body._active,
 .menu__body._active::before{
    left: 0;
}
 

.logo {
    
    position: relative;
    z-index: 2;
    font-family: "Poppins";
    font-weight: bold;
    font-size: 28px;
    line-height: 85px;
    letter-spacing: 1.1px;
    color: black;
    transition: all .3s;
    margin-left: 25px;
}


.header__menu {
     margin: 0 auto;
     padding: 0 15px;
}
.menu {
}
.menu__icon {
}
.icon__menu {
    display: none;
}
.menu__list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 30px;
    row-gap: 3px;
}
.menu__item {
}
.menu__link {
    
    transition: .3s;

    font-weight:500;
    font-size: 15px;
    line-height: 1.4px;
    color: #222222;
}
 

.menu__link:hover{
color: #FD8558;
}

 
 
/* =============================PAGE=============================================== */
.page{
   margin-top: 74px ;
   background:url('img/backgroundImageSDSD.jpg') ;
    
}


.icons-main-block{
    
    position: absolute;
    /* pointer-events: none; */
}
.__item1{
    position: relative;
    left: 25%;
    top: 25px;
}

.__item2{
    top: -50%;
    left: -30%;
    width: 350px;
    height: 350px;
}
.__item3{
    top: 1%;
    left: 85%;
    
}
.__item4{
    top: 60%;
    left: 95%;
    
}
.__item5{
    top: 100%;
    left: 5%;
    
}
.__item6{
    top: 85%;
    left: 85%;
   
}
.__item6 img{
    width: 312px;
    height: 312px;
   
}

.page__main {
    margin-bottom: 250px;
    z-index: 2;
}
.main {
   
}
.main__container {
    position: relative;
    padding: 0 15px;
    max-height: 664px;

}
.main__content {
 
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    z-index: 5;
}

.main__title {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-height: 266px;
    max-width: 632px;
     
}
.main__h {
    font-size: 70px;
    color: #ffffff;
    line-height: 85px;
}
.main__button {
    display: flex;
    gap: 28px;
    margin-top: 40px;
}
.button {
    width: 150px;
    height: 56px;
    border: 2px  solid;
    border-color: #FD8558;
    color: #ffffff;
    font-weight: 700;
    font-size: 15px;
    text-align: center;
    display: inline-block;
    padding-top: 6%;
    transition: all 0.5s ease 0s;
}

.button:hover{
 
    background-color: #FD8558;
   
}

.button:active{
    border: 4px  solid;
    border-color: #FD8558;
    background-color: #ffffff;
    color: #FD8558;
     
}
/* ============================================================================================= */
/* @media  (min-width: 1850.98px){
    .icons-main-block{
        display: none;
    } */
/* } */
 
 
  
/* ====================================================================================================== */
.about {
    
    background-color: #fff;
    padding-top: 45px;
    
}
.aboutabout{
    color: #F7F7F7;
    font-size: 150px;
    line-height: 145px;
    letter-spacing: 0.1px;
    margin-left: 25px;
    display: inline-flex;
}
.about__block1 {
    display: flex;
    justify-content: space-between;
    margin-top: 45px;
    margin-bottom: 60px;
}
.about__us {
    max-width: 410px;
    max-height: 222px;
}
.us {
    font-size: 14px;
    color: #FD8558;
    line-height: 15.4%;
}
.Ultimate {
    margin-top: 34px;
    font-size: 40px;
    color: #333333;
    line-height: 50px;
}
.Quisque {
    max-width: 510px;
    max-height: 166px;
    flex: 0 1 auto;
    
}
.Quisqueh4 {
    font-size: 18px;
    line-height: 28px;
    color: #222222;
    margin-bottom: 20px;
}
.QuisqueP {
    font-size: 15px;
    color: #999999;
    line-height: 25.5px;
}
.about__block2 {
    display: flex;
    align-items: center;
    margin-left: 33px;
    margin-right: 33px;
    justify-content: space-between;
}
.ourMissionblock{
    max-width: 425px;
    max-height: 347px;
     
}
.orang{
    color: #FD8558;
    font-size: 26;
    font-style: italic;
}
.hall {
    
}
.ourMission {
    font-size: 26px;
    color: #222222;
    line-height: 45px;
    flex-wrap: wrap;
    width: 395px;
    height: 225px;
    margin-bottom: 96px;
}
.FrankieKao {
     
}
.Franki {
    font-size: 20px;
    color: #222222;
    line-height: 20%;
    margin-bottom: 24px;
}
.artDirector {
    font-size: 12px;
    letter-spacing: 1.8px;
    line-height: 21.6px;
    color: #CACACA;
}

 
    /* ===================================================================================================== */
    .digital {
        background-color: #fff;
        padding-top: 185px;
    }
    .digital__container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .digital__carts {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    .digital__title {
        width: 379px;
        height: 243px;
        text-align: center;
    }
    .title__icon {
    }
    .title__href {
        font-size: 24px;
        line-height: 38px;
        color: #333333;
        margin-top: 21px;
        margin-bottom: 16px;
    }
    .title__p {
        font-size: 15px;
        line-height: 25.5px;
        color: #999999;
        margin-left: 21px;
        margin-right: 21px;
        margin-bottom: 16px;
        overflow: hidden;
    }

    ._anim-show{
        transform: translate(0px, 120%);
        opacity: 0;
        transition: all 0.8s ease 0s;
    }
    ._anim-show2{
        transform: translate(-120%, 0px);
        opacity: 0;
        transition: all 0.8s ease 0.3s;
    }
    ._anim-show3{
        transform: translate(+120%, 0px);
        opacity: 0;
        transition: all 0.8s ease 0.3s;
    }
    ._anim-show._activate,
    ._activate ._anim-show{
        opacity: 1;
        transform: translate(0px, 0px);
    }
    ._anim-show2._activate,
    ._activate ._anim-show2{
        opacity: 1;
        transform: translate(0px, 0px);
    }
    ._anim-show3._activate,
    ._activate ._anim-show3{
        opacity: 1;
        transform: translate(0px, 0px);
    }
 
    /* ============================================================================ */
    .take {
        padding-top: 60px;
        background-color: #fff;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .take__container {
        width: 100%;
    }
    .cycleWidthRectangle {
        margin-bottom: 100px;
        display: flex;
        align-items: center;
    }
    .rectangle {
        width: 606px;
        height: 2px;
        background-color: #F5F5F5;
    }
    .cycle {
        width: 80px;
        height: 80px;
        border-radius: 50%;
        background-color: #fd845888;
        margin:0 39px;
        
    }
    .latestWorks {
        display: flex;
        justify-content: space-between;
         
        
    }
    .latestWorksBOX{
        display: flex;
        flex-direction: column;
        justify-content: end;
        width: 304px;
        height: 154px;
        margin-right: 15px;
    }
    .latest {
        font-size: 14px;
        line-height: 14px;
        letter-spacing: 2px;
        color: #FD8558;
        margin-bottom: 8px;
    }
    .takePtorfolio {
        font-size: 32px;
        line-height: 38px;
        color: #333333;
    }
    .forButton{
        display: flex;
        flex-direction: column;
        justify-content: end;
    }
/* ============================================================== */

/* =============================================================== */
    .button__take{
        width: 156px;
        height: 56px;
        background-color: #FD8558;
        color: #FFFFFF;
        font-weight: 700;
    font-size: 15px;
    text-align: center;
    display: inline-block;
    transition: all 0.3s ease 0s;
     
z-index: 5;
    }
    .button__take:hover{
        border: 2px  solid;
    border-color: #FD8558;
    background-color: #ffffff;
    color: #FD8558;
     
    }
    .button__take:active{
        background-color: #FD8558;
        color: #FFFFFF;
         
    }

    .works{
        font-size: 200px;
        line-height: 180px;
        color: #F7F7F7;
        margin-left: 56%;
    }
 

/* ========================================================================================= */

.beckgrounds {
    background-color: #fff;

}
.beckgrounds__titles {
    
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.beckgrounds__carts {
    display: flex;
    flex-wrap: wrap;
}
 
.bacground__inputes{
width: 680px;
height: 126px;
background-color: #ffffffb2;
font-size: 24px;
line-height:33px;
color: #222222;
padding: 40px 35px 40px 40px;
 
}
.cubes{
width: 320px;
height: 126px;
background-color: #ffffffd0;
font-size: 24px;
line-height:33px;
color: #222222;
text-align: center;
padding: 40px 35px 40px 40px;
}
.bacground__inputes label::after{
    margin-left: 380px;
}

.inputs1 label::after{
    margin-left: 69px;
}

.inputs2 label::after{
    margin-left: 35px;
}
.inputs3 label::after{
    margin-left: 76px;
}
.inputs4 label::after{
    margin-left: 150px;
}

.crazyMax__cubes1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 194px;
    width: 360px;
    height: 360px;
    background: url(img/crazyMax1.jpg);
}
.crazyMax__cubes2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 194px;
    background: url(img/crazyMax2.jpg);
    width: 360px;
    height: 360px;
}
.carts__bacground {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 554px;
    width: 720px;
    height: 720px;
    background: url(img/CrazyBackground.jpg);
}
.crazyMax__cubes3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 194px;
    background: url(img/crazyMax3.jpg);
    width: 360px;
    height: 360px;
}

input[type="checkbox"] {
    display: none;
}

 

.labelfirst::after{
    content: '';
    display: inline-block;
    width: 46px;
    height: 46px;
    background-color: #FFFFFF;
    border: 3px solid #222222;
    vertical-align: middle;
    margin-left: 34px;
    transition: 0.3s;
}

input[type="checkbox"]:checked + label::after {
    background: url(img/check.svg) no-repeat   ;
    background-color: #FFFFFF;
    background-size: contain;
     
}
input[type="checkbox"]:hover + label::after {
    box-shadow: 0px 0px 0px 1px #F7F7F7, 0px 0px 10px #333333;
}
/* ====================================================================================================================== */

.skil {
    background-color: #fff;
    height: 100%;
     
}
.skil__container {
    padding:  8% 15px;
}
.skils__box {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.moderndigital {
    width: 100%;
    max-width: 462px;
    height: 150px;
}
.moderndigitalH4 {
    font-size: 14px;
    line-height: 14px;
    letter-spacing: 2px;
    color: #FD8558;
    
}
.moderndigitalH2 {
    font-size: 32px;
    line-height: 38px;
    color: #333333;
    margin-bottom: 15px;
}
.moderndigitalP {
    font-size: 14px;
    color:#999999 ;
    line-height: 25.5px;
}
.ourskills {
    width: 100%;
    max-width: 600px;
    padding: 0 22px;
}
.skill1 {
}
.skill-name {
    font-size: 17px;
    font-weight: 500;
    color: #222222;
    padding-bottom: 12px;
}
.skill-bar{
    height: 10px;
    background-color: #EEEEEE;
    margin-bottom: 45px;
    border-radius: 2px;
}


.skill-per._activate{
    height: 10px;
    background:linear-gradient(  90deg, #FF4D06,  #ffff5d);
    border-radius: 3px;
    position: relative;
    animation: fillbars 2.5s 1;
}
.skill-per::before{
    content: attr(per);
    position: absolute;
    padding: 4px 6px;
    color: #999999;
    font-size: 15px;
    top: -25px;
    right: 0;
    transform: translateX(25%);
}
@keyframes fillbars {
    from{
        width: 0;
    }

    to{
        width: 100%;
    }
}
 
/* ====================================================================== */
.ourTeam {
    background-color: #fff;
    height: 120%;
    padding-bottom: 115px;
    
}
.ourTeam__container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.ourTeam__text {
    text-align: center;
}
.moderndigitalH4 {
    margin-bottom: 28px;
}
.moderndigitalH2 {
}
.ourTeam__titlebox {
}
.ourTeam__titles {
     
    display: flex;
    justify-content: space-between;
    margin: 30px 0;
    gap: 30px;
}

.ourTeam__titleCart{
      width: 300px;
  height: 300px;
  position: relative;
  perspective: 1000px;
}

 
.ourTeam__title, .ourTeam__titleBack1{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 1s;
    backface-visibility: hidden;
}
.ourTeam__titleCart:hover .ourTeam__title {transform: rotateY(180deg);}
.ourTeam__titleCart:hover .ourTeam__titleBack1 {transform: rotateY(360deg);}

.ourTeam__titleBack1 h2{
    margin-bottom: 20px;
    text-align: center;
}
.ourTeam__titleBack1 p{
    margin: 10px 20px;
    
}

 
.ourTeam__titleBack1{
    background-color: #feae53;
    transform: rotateY(180deg);
}

.back2{
background-color: #9F92C0;
}
.back3{
    background-color: #A10202;
    }
.back4{
background-color: #3A3637;
}
.back5{
    background-color: #72909A;
    }
.back6{
background-color: #ECA557;
}

.titleimg1{
background-image: url(img/IMAGETitle1.png);
}
.titleimg2{
    background-image: url(img/IMAGETitle2.png);
}
.titleimg3{
    background-image: url(img/IMAGETitle3.png);
}
.titleimg4{
    background-image: url(img/IMAGETitle4.png);
}
.titleimg5{
    background-image: url(img/IMAGETitle5.png);
}
.titleimg6{
    background-image: url(img/IMAGETitle6.png);
}

 
.title_H2 {
    font-size:24px;
    line-height: 20px;
    color: #FFFFFF;
}
.title_P {
    font-size: 14px;
    line-height: 23.8px;
    color: #FCFCFC;
}
.ourTeam__button{
    margin-top: 45px;
    transition: all 0.3s ease 0s;
}
 
/* ======================================================================== */
.testimonials {
    background-color: #3A0F73;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}
.testimonials__H1 {
    color: #aaaaaa2b;
    font-size: 200px;
    line-height: 220px;
    margin-top: 78px;
}
.testimonials__container {
    margin-top: 73px;
     
}
.ceo__box {
    display: flex;
    flex-direction: column;
    align-items: center;
     
}
.testimonials__p {
    max-width: 824px;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0.2px;
    color: #fff;
    margin-bottom: 64px;
}
.ceo_paragraph{
padding: 20px 0;
display: flex;
flex-direction: column;
justify-content: space-between;
height: 60px;
transition: 0.3s all;
}
.ceo__img:hover + .ceo_paragraph{
    color: #F7F7F7;
}
.ceo_paragraph:hover{
    color: #F7F7F7;
}
.ceo__title {
 display: flex;
}
 
.ceo__img {
 
margin-right: 35px;
margin-bottom: 215px;
transition: 0.3s all;
}
 
.ceo__p1 {
}
.ceo__p2 {
    display: inline;
    padding-right: 83px;
    margin-top:10px ;
}
 

 
/* ============================================================================================= */
.interactivenews {
    background-color: #FFFFFF;
    padding-top: 125px;
    padding-bottom: 115px;
}
.interactivenews__container {
   display: flex;
   flex-direction: column;
   align-items: center;
}
.interactivenews_P {
    margin-bottom: 45px;
    font-size: 15px;
    line-height: 16px;
    color: #FD8558;
    letter-spacing: 2px;
}
.interactivenews_H {
}
.interactivenews__titles {
    margin-top: 15px;
    display: flex;
    gap: 30px;
    
}
.titles__interactivenews {
    height: 425px;
    overflow: hidden;
}
.overflowhid{
    
}
.interactivenews__img {
    width: 360px;
    height: 233px;
    margin-bottom: 28px;
    transition: scale 400ms;
    
}
.interactivenews__img:hover{
     scale: 120%;
}
.news1{
    
    background-image: url(img/news1.png);
}
.news2{
    background-image: url(img/news2.png);
}
.news3{
    background-image: url(img/news3.png);
}
.titles__lifsyletext {
    overflow: hidden;
    display: flex;
    gap: 5px;
    align-items: center;
}
.lifsyletext_life {
    font-size: 15px;
    line-height: 21px;
    color: #FD8558;
     
}
.lifsyletext_life:hover{
    text-decoration: underline;
}
.lifsyletext__data {

    margin-left: 25px;
}
.titles__insights {
    font-size: 24px;
    line-height: 32px;
    color: #222222;
    width: 326px;
    margin-bottom: 36px ;
    margin-top: 20px;
}
 
/* ========================================================================================================== */
.letterform {
    background-color: #FFFF;
    padding-bottom: 115px;
}
.letterform__container {
    display: flex;
    padding: 0 15px;
    justify-content: space-between;
}
.letterform__DATA {
    display: flex;
    flex-direction: column;
    gap: 45px;
}
.data_adress {
    width: 275px;
    height: 96px;
}
.adress {
    line-height: 20px;
    letter-spacing: 2px;
    color: #2222226b;
}
.numbersstreet {
    font-size: 24px;
    line-height: 33px;
    color: #222222;
}
.letterform_formletter {
}
.form__body {
    position: relative;
}
.form__body::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(51, 51, 51, 0.9) url("/img/loading.gif") center / 50px no-repeat;
    opacity: 0;
    visibility: hidden;
    transition: all 0.5s ease 0s;
}

.form__body._sending::after{
    opacity: 1;
    visibility: visible;
}

.forinputs {
    display: flex;
    gap: 28px;
    margin-bottom: 30px;
}
.form__item {
    position: relative;
    transition: 0.3s;
}
.form__item ._error{
    box-shadow: 0 0px 10px #e46f6f;
}
.form__footer {
    padding: 19px 0 18px 38px;
    position: absolute;
    left : -20px;
    z-index: 1;
    color: #9e9e9e9e;
    transition: 0.3s;
}
 
.form__input{ 
    font-family: sans-serif;
    font-size: 14px;
    color: #000;
    font-weight: normal;
    width: 330px;
    height: 58px;
    padding: 19px 0 18px 38px;
    border: 1px solid #bdbdbd;
    border-radius: 5px;
    box-shadow: 0 4px 10px #ccc;
    background-color: transparent;
    transition: 0.3s;
   
}
.form__input:focus  {
    box-shadow: 0 4px 16px #929292;
}
.form__input:focus~.form__footer,
.form__input:not(:placeholder-shown) ~ .form__footer{
    top : -18px;
    font-size: 12px;
    transition: 0.3s  ;
    color: #b7b7b7;
    transition: 0.3s;
}
.form__message{
    top: 0;
    padding: 19px 0 18px 38px;
    position: absolute;
    left : -20px;
    z-index: 1;
    color: #9e9e9e9e;
    transition: 0.3s;
}
.message__input:focus  {
    box-shadow: 0 4px 16px #929292;
}
.message__input{
    font-family: sans-serif;
    font-size: 14px;
    color: #000;
    font-weight: normal;
    min-width: 687px;
    min-height: 128px;
    padding: 19px 0 18px 38px;
    border: 1px solid #bdbdbd;
    border-radius: 5px;
    box-shadow: 0 4px 10px #ccc;
    background-color: transparent;
    transition: 0.3s;
    resize: none;
}
.message__input:focus~.form__message,
.message__input:not(:placeholder-shown) ~ .form__message{
    top : -18px;
    font-size: 12px;
    transition: 0.3s  ;
    color: #b7b7b7;
}
.letterform__button {
    margin-top: 65px;
    transition: all 0.3s ease 0s;
}
 
/* ============================================================================ */

.footer {
    background-color: #111111;
    padding: 85px 0;
}
.footer__main {
     
}
.main__footer {
 
}
.main__footer__container {
    display: flex;
    justify-content: space-between;
    gap: 90px;
    grid-template-columns: minmax(auto ,402px) auto auto minmax(auto ,402px);
    padding-top: 15px;
    flex-wrap: wrap;
}
.main__footer__column {
    
}
.main__footer__logo {
    font-size: 40px;
    line-height: 0.75;
    color: #FFFFFF;
    font-family: unset;
     
}
.main__footer__id {
    margin-top: 17px;

}
.main__footer__id .infoe-mail {
    font-size: 14px;
    line-height:0.7 ;
    color: #bababa93;
}
.main__footer__label:not(:last-child) {
    font-size: 24px;
    line-height: 1.29;
    color: #FFFFFF;
    margin-bottom: 19px;
}


.main__footer__menu {
}
.menu__footer {
}
.menu-footer__list {
}
.menu-footer__item {
    
}
.menu-footer__item:not(:last-child) {
    margin-bottom: 10px;
}
.menu-footer__link {
    font-size: 14px;
    line-height:0.7 ;
    color: #BABABA;
    transition: all 0.3s ease 0s ;
}
.menu-footer__link:hover{
    color: #FFFFFF;
}
.footer__bottom {
}
.bottom-footer {
    margin-top: 40px;
}
.bottom-footer__container {
    text-align: center;
}
.bottom-footer__copy {
    font-size: 15px;
    color: #BABABA;
    letter-spacing: 0.3px;
    line-height: 2;
}
.Webflow {
    color: #FFFFFF;
}
 


/* ================================================= */
 
@media (max-width: 882.98px){
    .menu__list{
        column-gap: 15px;
    }
     
    }
    
    @media (max-width: 692.98px){
        .icon__menu {
            display: block;
            flex: 0 0 30px;
            height: 18px;
            position: relative;
            z-index: 15;
            background-color: rgb(255, 255, 255);
            
            
        }
        .icon__menu span,
        .icon__menu::before,
        .icon__menu::after{
            content: "";
            right: 0;
            position: absolute;
            width: 100%;
            height: 3px;
            background-color: rgb(0, 0, 0);
            transition: all 0.3s ease 0s;
            
        }
        .icon__menu::before{
            top: 0;
        }
        .icon__menu::after{
            bottom: 0;
        }
        .icon__menu span{
            top: calc(50% - 1.5px);
        }
    /* ======================================= */
      .icon__menu._active{
        background-color: black;
        
    }
    .icon__menu._active span,
    .icon__menu._active::before,
    .icon__menu._active::after{
        background-color: rgb(255, 255, 255);
    }
    /* ======================================= */
    .icon__menu._active span {
        width: 0;
    }
    
    .icon__menu._active::before{
        top: calc(50% - 1.5px);
        transform: rotate(-45deg);
        
    }
    .icon__menu._active::after{
        bottom: calc(50% - 1.5px);
        transform: rotate(45deg);
    }
    
    
        .menu__body{
            position: fixed;
            width: 100%;
            height: 100%;
            background-color: #000000;
            left: -100%;
            top: 0;
            padding: 70px 15px 30px 15px;
            overflow: auto;
            transition: left 0.5s ease 0s;
        }
        .menu__body::before{
            content: "";
            width: 100%;
            position: fixed;
            top: 0;
            left: -100%;
            height: 70px;
            background-color: #000000;
            z-index: 2;
            transition: left 0.5s ease 0s;
        }
        .menu__list{
            flex-direction: column;
            justify-content: center;
            text-align: center;
            row-gap: 25px;
            padding-top: 25px;
            
            
        }
        .menu__link{
            color: #ffffff;
            font-size: 24px;
        }
          .menu__link._active{
            color: #ffffff;}
        .header__container {
        min-height: 50px;
        }
        .logo._active{
            color: #ffffff;
        }
        }
        /* ====================================================================================== */

        @media  (max-width: 1500.98px){
 
            .__item6{
                left: 75%;
            }
        }
        @media  (max-width: 1275.98px){
            .__item3{
                top: 3%;
                left: 75%;
            }
            .__item4{
                top: 60%;
                left: 75%;
                
            }
            .__item2{
                top: -50%;
                left: -25%;
                width: 250px;
                height: 250px;
            }
          
        }
        @media  (max-width: 1235.98px){
            .__item6 img{
                width: 212px;
                height: 212px;
        }
             
        }
        
        @media  (max-width: 1040.98px){
            .__item3{
                top: 3%;
                left: 80%;
            }
            .__item3 img{
                width: 150px;
                height: 150px;
            }
        }
        
        @media (max-width: 882.98px){
            .__item1{
                left: 30%;
                top: 25px;
            }
            .__item1 img{
                width: 350px;
                height: 350px;
            }
            .__item2 img{
                width: 200px;
                height: 200px;
            }
            .__item2{
                top: -35%;
                left: -10%;
            }
            .__item3{
                top: 3%;
                left: 70%;
            }
            .__item6{
                top: 95%;
                left: 65%;
               
            }
            
            .main__h {
                font-size: 50px;
                line-height: 55px;
            }
            .button {
                width: 120px;
                height: 40px;
                font-size: 10px;
                padding-top: 5%;
            }
         
        }
        
            @media (max-width: 784.98px){
                .__item1{
                    left: 25%;
                }
            }
         
            @media (max-width: 636.98px){
                .page__main{
                    margin-bottom: 350px;
                }
                .main__container {
                    max-height: 500px;
                }
                .main__content {
                    padding-top: 375px;
                }
               .__item1{display: none;}
        
               .__item2{
                    display: none;
               }
               .__item3{
                top: 25px;
                left: 70%;
            }
               .__item4{display: none;}
               .__item5{
                top: 220px;
                left: 5%;
               }
               .__item6{display: none;}
               
            }
            @media (max-width: 557.98px){
                .__item3{
                    top: 20px;
                    left: 60%;
                }
                .__item5{
                    top: 240px;
                    left: 3%;
                   }
            }
        
        @media (max-width: 483.98px){
            .main__container {
                max-height: 400px;
            }
            .main__h {
                font-size: 30px;
                line-height: 55px;
            }
            .main__content {
                top: 30%;
            } 
             .__item3{
                top: 20px;
                left: 55%;
            }
            .__item3 img{
                width: 125px;
                height: 125px;
            }
            .__item5{
                top: 265px;
                left: 3%;
               }
               .__item5 img{
                    width: 25px;
                    height: 25px;
               }
            }
/*====================================================================================*/

@media (max-width: 1117.98px){
    .aboutabout{
        font-size: 100px;
        line-height: 105px;
    }
    .about__block2 {
        margin-left: 4px;
        margin-right: 4px;
    }
}


@media (max-width: 1117.98px){
    .hall{
        width: 495px;
        height: 365px;
    }
    .ourMission {
        margin-bottom: 80px;
    }
}

@media (max-width: 956.98px){

    .about {
        padding-top: 15px;
    }
    .hall{
        width: 422px;
        height: 239px;
    }
    .ourMission {
        margin-bottom: 80px;
    }
    .about__block1 {
        margin-top: 25px;
        margin-bottom: 30px;
    }
    .ourMission {
        font-size: 16px;
        color: #222222;
        line-height: 45px;
        flex-wrap: wrap;
        width: 395px;
        height: 105px;
        margin-bottom: 56px;
    }
    .Ultimate {
        margin-top: 24px;
        font-size: 30px;
        color: #333333;
        line-height: 40px;
    }
 
    /* .page{
        background: url('img/IMAGE.svg') 95% 3%/138px no-repeat, url('img/cicle1.svg') 50% 8%/299px no-repeat, url('img/Saturn-Transparent-Background.png') 90% 35%/236px no-repeat, url('img/twoleft.svg') 9% 35%/50px no-repeat,  url('img/leftcycle.png') 0 0 no-repeat,  url('img/backgroundImage.png') ;
        } */
        .Quisque {
            max-width: 450px;
            max-height: 200px;
        }
        .Quisqueh4 {
            font-size: 14px;
            line-height: 28px;
            color: #222222;
            margin-bottom: 20px;
        }
        .QuisqueP {
            font-size: 13px;
            color: #999999;
            line-height: 25.5px;
        }
}

@media (max-width: 904.98px){
    .aboutabout{
        display: none;
    }
    .about__block1 {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        align-items: center;
    }
    .about__block2 {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: space-between;
    }

    .us {
        font-size: 25px;
        color: #FD8558;
        line-height: 15.4%;
    }
    .about__us {
         text-align: center;
         margin-bottom: 30px;
    }
    .Quisque {
        max-width: 410px;
        max-height: 222px;
        flex: 0 1 auto;
    }
    .hall{
        width: 408px;
        height: 221px;
    }
    .ourMission {
        font-size: 16px;
        color: #222222;
        line-height: 35px;
        flex-wrap: wrap;
        width: 410px;
        height: 80px;
    }
    .FrankieKao {
     text-align: center;
    }
}

@media (max-width: 416.98px){
    .about__block1 {
    margin-bottom: 70px;
    }
    .hall{
        width: 300px;
        height: 199px;
        margin-bottom: 30px;
    }
    .ourMissionblock{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .ourMission {
        display: flex;
        font-size: 16px;
        line-height: 25px;
        width: 320px;
        padding: 0px 10px;
    }
    }
    /*====================================================================================*/
    
    @media (max-width: 1173.98px){
        .title__p{
            margin-left: 11px;
        margin-right: 11px;
        }
        .digital__title {
            width: 359px;
            height: 243px;
        }
        .digital {
            padding-top: 100px;
        }
    }

    @media (max-width: 1119.98px){
        .title__p{
            margin-left: 0px;
        margin-right: 0px;
        }
        .digital__title {
            width: 300px;
            height: 243px;
        }
        .digital {
            padding-top: 70px;
        }
        .title__href {
            font-size: 20px;
            line-height: 28px;
            margin-top: 11px;
            margin-bottom: 10px;
        }
    }

    @media (max-width: 764.98px){
        .digital__carts {
            display: flex;
            flex-direction: column;
            align-items: center;

        }
        .digital {
            padding-top: 20px;
        }
        .title__href {
            font-size: 14px;
            line-height: 5px;
            margin-top: 8px;
            margin-bottom: 16px;
        }
        .digital__title {
            padding-left: 5px;
            padding-right: 5px;
            width: 320px;
            gap: 20px;
        }
    }
    /* ===================================================================== */
    
    @media (max-width: 1325.98px){
        .works{
            margin-left: 46%;
        }
    }

    @media (max-width: 1119.98px){
        .cycleWidthRectangle {
            margin-bottom: 50px;
        }
        .works{
            margin-left: 36%;
        }
    }

    @media (max-width: 929.98px){
        .cycleWidthRectangle {
            margin-bottom: 20px;
        }
        .take {
            padding-top: 30px;
        }
        .latestWorksBOX{
            height: 104px;
        }
        .works{
            margin-left: 16%;
        }
    }

    @media (max-width: 749.98px){
        .works{
            margin-left: 6%;
            font-size: 150px;
            line-height: 150px;
        }
    }

    @media (max-width: 513.98px){
        .takePtorfolio {
            font-size: 24px;
            line-height: 28px;
        }
        .button__take{
            width: 120px;
            height: 40px;
        }
        .latestWorksBOX{
            height: 54px;
        }
        .cycle {
            width: 50px;
            height: 50px;
    }
    .works{
        margin-left: 1%;
        font-size: 100px;
        line-height: 100px;
    }
}

@media (max-width: 349.98px){
    .cycle {
        display: none;
    }
    .works{
        margin-left: 1%;
        font-size: 80px;
        line-height: 100px;
    }
}
/* ========================================================================== */

@media (max-width: 1444.98px){
    .crazyMax__cubes1 {
        padding-top: 194px;
        width: 260px;
        height: 260px;
        background: url(img/crazyMax1.jpg) 260px;
        background-size: contain;
    }
    .crazyMax__cubes2 {
        padding-top: 194px;
        background: url(img/crazyMax2.jpg);
        width: 260px;
        height: 260px;
        background-size: contain;
    }
    .carts__bacground {
        padding-top: 394px;
        width: 520px;
        height: 520px;
        background: url(img/CrazyBackground.jpg);
        background-size: contain;
    }
    .crazyMax__cubes3 {
        padding-top: 194px;
        background: url(img/crazyMax3.jpg);
        width: 260px;
        height: 260px;
        background-size: contain;
    }
    .bacground__inputes{
        width: 376px;
        height: 66px;
        font-size: 20px;
        line-height:13px;
        padding: 20px 17px 20px 20px;
        }
        .labelfirst::after{
            content: '';
            display: inline-block;
            width: 23px;
            height: 23px;
            margin-left: 17px;
        }
        .cubes{
        width: 220px;
        height: 66px;
        font-size: 20px;
        line-height:13px;
        padding: 20px 17px 20px 20px;
        }
        .bacground__inputes label::after{
            margin-left: 166px;
        }
        
        .inputs1 label::after{
            margin-left: 48px;
        }
        
        .inputs2 label::after{
            margin-left: 24px;
        }
        .inputs3 label::after{
            margin-left: 53px;
        }
        .inputs4 label::after{
            margin-left: 50px;
        }
}

@media (max-width: 1044.98px){
    .beckgrounds__carts {
        flex-direction: column;
        align-items: center;
        gap: 70px;
    }
    .crazyMax {
        display: flex;
        gap: 240px;
    }
    .beckgrounds {
        background-color: #F5F5F5;
    
    }
}

@media (max-width: 769.98px){
    .beckgrounds__carts {
        flex-direction: column;
        align-items: center;
        gap: 50px;
    }
    .crazyMax {
        display: flex;
        gap: 140px;
    }
    .beckgrounds {
        background-color: #F5F5F5;
    
    }
}
@media (max-width: 669.98px){
    .beckgrounds__carts {
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }
    .crazyMax {
        display: flex;
        gap: 80px;
    }
    .beckgrounds {
        background-color: #F5F5F5;
    
    }
}

@media (max-width: 619.98px){
    .beckgrounds__carts {
        flex-direction: column;
        align-items: center;
        gap: 0px;
    }
    .crazyMax {
        display: flex;
        gap: 0px;
    }
    .beckgrounds {
        background-color: #F5F5F5;
    
    }
}
@media (max-width:529.98px){

    .beckgrounds__titles {
        padding: 0 15px;
    }
    .beckgrounds__carts {
        flex-direction: column;
        align-items: center;
         
    }
    .crazyMax {
        display: inline-block;
         
    }
    .beckgrounds {
        background-color: #F5F5F5;
    
    }
        .cubes{
        width: 320px;
        height: 126px;
        background-color: #ffffffd0;
        font-size: 24px;
        line-height:33px;
        color: #222222;
        text-align: center;
        padding: 40px 35px 40px 40px;
        }
        .inputs1 label::after{
            margin-left: 69px;
        }
        
        .inputs2 label::after{
            margin-left: 35px;
        }
        .inputs3 label::after{
            margin-left: 76px;
        }
        .inputs4 label::after{
            margin-left: 150px;
        }
        
        .crazyMax__cubes1 {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding-top: 194px;
            width: 360px;
            height: 360px;
            background: url(img/crazyMax1.jpg);
        }
        .crazyMax__cubes2 {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding-top: 194px;
            background: url(img/crazyMax2.jpg);
            width: 360px;
            height: 360px;
        }
        .carts__bacground {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding-top: 200px;
            width: 360px;
            height: 360px;
 
        }
        .crazyMax__cubes3 {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding-top: 194px;
            background: url(img/crazyMax3.jpg);
            width: 360px;
            height: 360px;
        }
        
}

@media (max-width:389.98px){
    .beckgrounds__titles {
        padding: 0 5px;
    }
    .crazyMax__cubes1 {
        padding-top: 194px;
        width: 260px;
        height: 260px;
        background: url(img/crazyMax1.jpg) 260px;
        background-size: contain;
    }
    .crazyMax__cubes2 {
        padding-top: 194px;
        background: url(img/crazyMax2.jpg);
        width: 260px;
        height: 260px;
        background-size: contain;
    }
    .carts__bacground {
        padding-top: 117px;
        width: 260px;
        height: 260px;
        background: url(img/CrazyBackground.jpg);
        background-size: contain;
    }
    .crazyMax__cubes3 {
        padding-top: 194px;
        background: url(img/crazyMax3.jpg);
        width: 260px;
        height: 260px;
        background-size: contain;
    }
    .bacground__inputes{
        width: 220px;
        height: 66px;
        font-size: 20px;
        line-height:13px;
        padding: 20px 17px 20px 20px;
        }
        .labelfirst::after{
            content: '';
            display: inline-block;
            width: 23px;
            height: 23px;
            margin-left: 17px;
        }
        .cubes{
        width: 220px;
        height: 66px;
        font-size: 20px;
        line-height:13px;
        padding: 20px 17px 20px 20px;
        }
        .bacground__inputes label::after{
            margin-left: 166px;
        }
        
        .inputs1 label::after{
            margin-left: 48px;
        }
        
        .inputs2 label::after{
            margin-left: 24px;
        }
        .inputs3 label::after{
            margin-left: 53px;
        }
        .inputs4 label::after{
            margin-left: 50px;
        }
}
/* ================================================================================================== */

@media (max-width:909.98px){
    .skils__box {
        display: inline-block;
         
    }
    .skil__container {
        display: flex;
        justify-content: center;
    }
    .moderndigital{
        margin-bottom: 50px;
        height: 200px;
    }
}
/* ================================================================================================== */

@media (max-width:1137.98px){
    .ourTeam__titleCart {
        width: 300px;
        height: 300px;
    }
    .ourTeam__button{
        margin-top: 5px;
    }
}

@media (max-width:973.98px){
    .ourTeam__titles {
        display: flex;
        justify-content: space-between;
        margin: 15px 0;
        gap: 15px;
    }
}

@media (max-width:962.98px){
    .ourTeam__titles {
        display: inline-block;
    }
    .ourTeam__titlebox {
        display: flex;
        gap: 20px;
    }
    .ourTeam__titleCart{
    margin-bottom: 20px;
    }
    .skil__container {
        padding:  4% 15px;
    }
}

@media (max-width:643.98px){
    .ourTeam__titleCart{
        width: 350px;
        height: 350px;
    }
    .ourTeam__titlebox {
        display: flex;
        flex-direction: column;
        gap: 0;
    }
    .ourTeam__title {
        margin-bottom: 20px;
        gap: 0px;
        }
        .ourTeam__titles {
            margin: 0;
        }
        .title_H2 {
            font-size:20px;
            line-height: 14px;
            color: #FFFFFF;
        }
        .moderndigitalH4 {
            margin-bottom: 18px;
        }
}
@media (max-width:365.98px){
    .ourTeam__titleCart{
        width: 300px;
        height: 300px;
    }
}
/* ====================================================================================== */

@media (max-width:1272.98px){
    .testimonials__H1 {
        font-size: 100px;
        line-height: 120px;
        margin-top: 38px;
    }
}


@media (max-width:850.98px){
    .ourTeam {
        padding-bottom: 55px;
    }
    .testimonials__H1 {
        font-size: 80px;
        line-height: 80px;
        margin-top: 25px;
    }
    .testimonials__p {
        max-width: 624px;
        font-size: 14px;
        line-height: 18px;
        margin-bottom: 34px;
    }
    .ceo__img {
        margin-bottom: 115px;
        }
}

@media (max-width:735.98px){
    .testimonials__p {
        max-width: 524px;
    }
    .testimonials__container {
        margin-top: 53px;
         
    }
}

@media (max-width:527.98px){
    .testimonials__p {
        max-width: 324px;
    }
    .testimonials__container {
        margin-top: 25px;
    }
    .testimonials__H1 {
        display: none;
    }
    .ceo__img {
        margin-bottom: 20px;
    }
}

@media (max-width:527.98px){
    .testimonials__p {
        max-width: 300px;
    }
    .ourTeam {
        padding-bottom: 20px;
    }
}
/* ============================================================================ */


@media (max-width:1154.98px){
    .interactivenews {
        padding-top: 60px;
        padding-bottom: 60px;
    }
    .interactivenews__img {
        width: 326px;
        height: 200px;
        margin-bottom: 28px;
    }
}

@media (max-width:1060.98px){
    .interactivenews__titles {
        display: inline-block;
    }
    .interactivenews__img {
        width: 360px;
        height: 233px;
        margin-bottom: 28px;
    }
}
@media (max-width:410.98px){
    .interactivenews {
        padding-top: 30px;
        padding-bottom: 0px;
    }
    .interactivenews__img {
        width: 300px;
        height: 180px;
        margin-bottom: 28px;
    }
    .titles__interactivenews {
        width: 300px;
        height: 350px;
    }
    .titles__insights {
        width: 300px;
        margin-bottom: 15px ;
        margin-top: 10px;
        font-size: 20px;
        line-height: 20px;
    }
}
/* ============================================================================ */

@media (max-width:1176.98px){
    .letterform__container {
    flex-direction: column;
    align-items: center;
    }
    .letterform_formletter {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 20px;
    }
    .letterform__button {
        margin-top: 35px;
    }
    .message__input{
        font-size: 12px;
    }
    .form__body {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width:699.98px){
    .message__input{
        display: block;
        min-width: 400px;
        resize: vertical;
        
}
.letterform__DATA {
    gap: 20px;
}
.numbersstreet {
    font-size: 20px;
}
.forinputs {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 28px;
    margin-bottom: 30px;
}
}
@media (max-width:413.98px){
    .message__input{
        min-width: 300px;
    }
    .form__input{ 
        width: 300px;
        height: 58px;
    }
    .letterform__button {
        margin-top: 20px;
    }
}
/* ============================================================================================================= */


@media (max-width:974.98px){
    .letterform {
        padding-bottom: 50px;
    }
    .footer {
        padding: 45px 0;
    }
    .main__footer__container {
        gap: 30px;
    }
}
@media (max-width:762.98px){
    .letterform {
        padding-bottom: 30px;
    }
    .footer {
        padding: 25px 0;
    }
    .main__footer__container {
        gap: 20px;
    }
    .menu-footer__link {
        font-size: 10px;
        line-height: 1.4;
    }
    .main__footer__label:not(:last-child) {
        font-size: 16px;
        line-height: 1.29;
        color: #FFFFFF;
        margin-bottom: 10px;
    }
}
@media (max-width:616.98px){
    .main__footer__logo{
        display: block;
        width: 100%;
        min-width: 550px;
    }
    .bottom-footer__copy {
        font-size: 12px;
    }
}
@media (max-width:362.98px){
    .main__footer__logo{
        display: inline;
        width: 100%;
        min-width: 300px;
    }
 
}