 /* підключення файлу скидання стилів */
@import url(reset.css);

/* Підключення шрифтів */
@import url(fonts.css);


/* ============================ Основні стилі ================================== */
.wrapper {
    overflow: clip;
    min-height: 100%;
    display: flex;
    flex-direction: column;
  }

  .wrapper > main {
    flex-grow: 1;
  }

  body {
    font-family: "Causten", sans-serif;
    font-size: 18px;
    color: #807d7e;
  }
 

[class*="__container"]{
max-width: 1270px;
padding: 0 15px;
margin: 0 auto;
}

/* ==================================================================================*/


/* ============================ стилі для HEADER ================================== */
.header {
    padding: 10px 0;
    border-bottom: 1px solid #bebcbd;
    margin-bottom: 50px;
}
.header::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    opacity: 0.95;
}
.header--fix {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 50;
}

.header__container {
    display: flex;
    column-gap: 60px;
    flex-wrap: wrap;
    position: relative;
    z-index: 2;
}
.header__box-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex: 1 1 auto;
    min-height: 90px;
}
.logo {
    margin-right: 10px;
}

 
.form-container {
position: relative;
display: flex;
align-items: center;
}
.searchicon{
    flex-shrink: 0;
    position: absolute;
    left: 12px;
}
.input-search {
    padding: 12px 48px;
    border-radius: 8px;
    background: #F6F6F6;
    color: #807D7E;
    font-size: 18px;
    font-weight: 500;
    transition: all 0.2s ease-in-out;
}
.input-search:hover{
    box-shadow: 2px 2px 2px 1px rgba(95, 95, 95, 0.2);
}
.choice-language {
    position: relative;
    flex: 0 0 199px;
     
}

.choice-language {
    position: relative;
    flex: 0 0 199px;
  }
  
  .choice-language:hover .choice-language__menu {
    text-decoration: underline;
  }
  
  .choice-language:hover .choice-language__list {
    visibility: visible;
     
  }
  
  .choice-language:hover .choice-language__menu::before {
    transform: rotate(180deg);
  }
  
.choice-language__menu {
    line-height: 1.2;
    color: #333;
    padding: 10px 29px 10px 0;
    position: relative;
    cursor: pointer;
}

.choice-language__menu::before{
    content: "";
    display: inline-block;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    width: 10px;
    height: 5px;
    transition: all 0.3s;
    background: url(../img/svg/Vectordown.svg) center / cover no-repeat;
}

 
.choice-language__list {
    position: absolute;
    left: 0;
    top: 100%;
    width: 200px;
    padding-top: 10px;
    background-color: #fff;
    border: 1px solid #bebcbd;
    border-radius: 10px;
    visibility: hidden;
    
}
.choice-language__item {
    padding: 5px;
    cursor: pointer;
    transition: color 0.3s;
    position: relative;
}
.choice-language__item:hover{
    text-decoration: underline;
    color: #333;
}
.header__buttons {
    display: flex;
    align-items: center;
    gap: 29px;
}
.header__button {
    white-space: nowrap;
}
.button {
    display: inline-block;
    border-radius: 8px;
    border: 1px solid #3c4242;
    color: #8a33fd;
    transition: all 0.3s;
    font-weight: 500;
    line-height: 1.2;
    padding: 11px 47px;
}
.button:hover {
    background: #8a33fd;
    color: #ffffff;
    border-color: #8a33fd;
  }
/* ==================================================================================*/

/* ======================= INFO =================================================== */
.info{
    color: #3c4242;
    font-family: "Causten", sans-serif;
    font-size: 18px;
    margin-bottom: 100px;
}

.info__container{
    max-width: 955px;
    margin: 0 auto;
    padding: 0 30px;
}
.info__title, .checkout__title {
    font-family:"CoreSansC", sans-serif;
    font-size: 28px;
    line-height: 117%;
    letter-spacing: 0.56px;
    margin-bottom: 20px;
    color: #3C4242;
    font-weight: 800;
}
.info__subtitle ,.checkout__subtitle {
    font-family:"CoreSansC" , sans-serif;
    font-size: 22px;
    line-height: 150%;
    letter-spacing: 0.44px;
    margin-bottom: 20px;
    color: #3C4242;
    font-weight: 600;
}

.form-info__body {
    display: flex;
    flex-wrap: wrap;
    row-gap: 31.22px;
    margin: 0 -21.203px 30px -21.203px;
}
.form-info__block {
    flex: 1 1 50%;
    display: flex;
    flex-direction: column;
    row-gap: 10.36px;
    padding: 0 21.203px;
}
.form-info__title {
    font-weight: 600;
    letter-spacing: 0.36px;
    line-height: 1.2;
}
.form-info__item {
    border-radius: 8px;
    background: #f6f6f6;
    padding: 17.855px 22.319px;
    font-size: 16px;
    letter-spacing: 0.36px;
    color: #807D7E;
    font: 600;
    transition: all 0.3s ease-in;

}
.form-info__item:hover , .form__input:hover{
    box-shadow: 2px 2px 2px 1px rgba(95, 95, 95, 0.2);
}

.form-info__item-select{
     padding-right: 50px;
     width: 100%;
appearance: none;
}
.form-info__block--before{
    position: relative;
    
}
.form-info__block--before:hover.form-info__block--before::before{
    top: 55%;
}
 

.form-info__block--before::before{
    content: "";
    position: absolute;
    top: 50%;
    right: 24px;
    transform: translateY(-50%);
    pointer-events: none;
    flex:  0 0 22px;
    width: 22px;
    height: 22px;
     background-image: url(../img/svg/down.svg);
     transition: all 0.2s ease-in;

}
.form-info__item--textarea{
    min-height: 185px;
    resize: vertical;
}

 

.info__checkbox{
    font-size: 20.087px;
    letter-spacing: 0.36px;
     
}
.info__checkbox:not(:last-child){
    margin-bottom: 58px;
}
.checkbox {
    font-size: 20px;
     
}
.checkbox__group {
    position: relative;
}
.checkbox__group:not(:last-child){
    margin-bottom: 12px;
}
.checkbox__item {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    opacity: 0;
}
.checkbox__item:focus-visible + .checkbox__title{
outline: 2px solid black;
}

.checkbox__item:checked + .checkbox__title::before {
    
    background: url(../img/svg/check.svg) center no-repeat;
    
} 
.checkbox__title {
    display: inline-flex;
    gap: 11.16px;
    cursor: pointer;
    transition: all 0.2s ease;
}
.checkbox__title::before{
    content: "";
    width: 20px;
    height: 20px;
    flex: 0 0 20px;
    border:  2.23px solid #BEBCBD;
    border-radius: 2.23px;
    transition: all 0.2s ease;
}
/* кнопочки */
.info__buttons {
    display: flex;
    gap: 30px;
}
.button-info{
    border-radius: 8px;
    padding: 12px 40px;
    font-weight: 700;
    text-align: center;
    font-size: 20.087px;
    transition: all 0.3s ease-out;
    
}
.button--fiolet {
    background: #8a33fd;
    color: #fff;
}
.button--fiolet:hover{
    background: #5c23a6;
}
.button--grey {
    background: #f6f6f6;
    color: #807d7e;
}
.button--grey:hover{
    color: #f6f6f6;
    background: #bebebe;
}
/* ====================================== CHECK OUT ========================================== */
.checkout {
}
.checkout__container {
    max-width: 862px;
    margin: 0 auto;
    padding: 0 30px;
}
.checkout__title{
    display: flex;
    gap: 16px;
}
.checkout__title::before{
    content: "";
    width: 6px;
    height: 30px;
    border-radius: 10px;
    background-color: #8a33fd;
    flex: 0 0 6px;
}
.checkout__subtitle:not(:last-child){
margin-bottom: 50px;
}

/* ========= FORM ======================*/
.form-checkout:not(:last-child){
    margin-bottom: 30px;
}
.form-container {
    display: flex;
    max-width: 838px;
    flex-wrap: wrap;
    margin: 0 -19px;
    
}
.form-container:not(:last-child){
    margin-bottom: 25px;
}
.form-container--row{
    row-gap: 28px;
}

.form__flex-block {
display: flex;
flex-direction: column;
flex: 0 0 50%;
padding:0 19px;
row-gap: 10px;
}
.form__label {
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0.32px;
    color: #3C4242;
    
}
.form__input {
    padding: 16px 16px 20px;
    background-color: #F6F6F6;
    font-size: 14px;
    border-radius: 8px;
    transition: all 0.3s ease-in;
}

/* block 2 */
.form-conatiner--margin:not(:last-child){
    margin-bottom: 25px;
}
.form-container--margin2:not(:last-child){
    margin-bottom: 40px;
}
.form-conatiner--flex-3column{
    display: flex;
    justify-content: space-between;
    gap: 32px;
}
.form-flex-block2 {
    display: flex;
    flex: 0 1 33.333%;
    flex-direction: column;
    
}


.form__input-select {
    appearance: none;
    outline: none;
    background-color: transparent;
    background: #f6f6f6;
    color: #807D7E;
    width: 100%;
     
}
.form__input--before{
    position: relative;
}
.form__input--before::before{
    background:url(../img/svg/down.svg) ;
    content:"";
    position: absolute;
    top: 50%;
    right: 23px;
    transform: translateY(-50%) ;
    display: block;
    width: 20px;
    height: 20px;
    flex:  0 0 22px;
    pointer-events: none;
}
/* delivery button */
.delivery-button{
    font-family: "Causten", sans-serif;
    font-size: 18px;
    padding: 16px 20px;
    border-radius: 8px;
    color: #FFFF;
    background-color: #8A33FD;
    font-weight: 500;
}
.delivery-button:not(:last-child){
    margin-bottom: 20px;
}

.delivery-button:hover{
    background: #5c23a6;
    transform: translateY(2px);
    transition: all 0.15s ease-in;
}
.checkbox__item--fontsize{
    font-size: 18px;
    color: #3C4242;
}
/* =========== Shipping Adress ============================ */
 
.checkout__subtitle--margin:not(:last-child){
margin-bottom: 8px;
}
.checkout__subtitle--margin2:not(:last-child){
    margin-bottom: 30px;
    }
.someonetext{
    font-family: "Causten", sans-serif;
    font-size: 16px;
    font-weight: 500;
    color: #3C4242;
}

.someonetext:not(:last-child){
    margin-bottom: 30px;
}
 
/* ============== Radio Gruop ============ */
.radio-container {
padding: 38px 28px;
background-color: #F6F6F6;
border-radius: 12px;
}
.radio-group {
    position: relative;
}
.radio-group--margin:not(:last-child){
    margin-bottom: 30px;
}

.radio__item {
position: absolute;
top: 0;
left: 0;
width: 0;
height: 0;
opacity: 0;
}

.radio__title {
     
    display: inline-flex;
	cursor: pointer;
	transition: all 0.2s ease-out;
    gap: 20px;
}
.radio__title-text{
    font-family: "Causten", sans-serif;
    font-size: 20px;
    font-weight: 700;
    color: #3C4242;
}
.radio__title::before{
    content: "";
    background: url(../img/svg/radio_buttonnotchecked.svg);
    flex: 0 0 18px;
    width: 18px;
    height: 18px;
}

.radio__item:checked + .radio__title::before{
    content: "";
    background: url(../img/svg/radio_buttonchecked.svg);
    flex: 0 0 18px;
    width: 18px;
    height: 18px;
}

.radio__title:hover {
	color: #807d7e;
}

.radio__item:focus-visible + .radio__title{
    outline: 1px solid black;
}
.greyline{
    width: 100%;
    height: 1px;
    background-color: #BEBCBD;
    margin: 25px 0;
}

.greyline2{
    width: 100%;
    height: 1px;
    background-color: #EDEEF2;
    margin: 30px 0;
}

.flex-text {
    display: flex;
    justify-content: space-between;
}
.flex-text:not(:last-child){
    margin-bottom: 8px;
    
}
.paymentmethod-container:not(:last-child){
margin-bottom: 50px;
}
/*  payment */
.paymentmethod-container{
    padding: 45px 48px 45px 28px;
    background-color: #F6F6F6;
    border-radius: 12px;
}
.paymentmethod-group{
    padding: 30px 0px 5px 37px;
    
}
.paymentmethod-group--nopading.paymentmethod-group{
    padding: 0px 0px 0px 37px;
}
.radio__title--margin{
    margin-bottom: 5px;
     
}

.radio__title--position.radio__title::before{
    position: absolute;
top:25%;
left: -37px;
}
.radio__title--position2.radio__title::before{
    position: absolute;
top:0;
left: -37px;
}
/* ========== visa pay ============== */
.imggroup {
    display: flex;
    flex-wrap: wrap;
    gap: 10px 20px;
}
.imggroup:not(:last-child){
    margin-bottom: 30px;
}
.imggroup__img {
    border-radius: 6px;
    overflow: hidden;
    flex: 0 0 80px;
}
.imggroup__
.imggroup__img img{
    max-width: 100%;
}
/*==== card content ===*/
.card-content {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px 0px -15px;
    row-gap: 27px;
}
.card__info {
    padding: 0 15px;
    flex: 1 1 50%;
}
.card__item {
    border-radius: 8px;
    border: 1px solid #3c4242;
    padding: 13px 20px;
    background: #f6f6f6;
    font-family: "Causten", sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #3C4242;
    line-height: normal;
    width: 100%;
}
.card__info--button {
    position: relative;
}
.card__item--button {
    padding-right: 45px;
}
.card__button {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 15px;
    right: 35px;
    background: url(../img/svg/Iconeyes.svg) center/20px no-repeat;
    transition: all 0.2s linear;
}
.card__button:hover {
	background: url("../img/svg/input__hide-eye.svg") center/20px no-repeat;
}