/* підключення шрифтів */
@import url("https://fonts.googleapis.com/css?family=Poppins:600&display=swap");
@import url("https://fonts.googleapis.com/css?family=Inter&display=swap");
@import url("https://fonts.googleapis.com/css?family=DM+Serif+Text:regular&display=swap");

/* підключення файлу скидання стилів */
@import url(reset.css);
/* основні стилі */

/* основні стилі */
body {
    font-family: "Inter", sans-serif;
    font-size: 20px;
    color: #474747;
    background-color: #FFF9F4;
    font-weight: 400;
    padding-bottom: 100px;
  }

header{
    padding: 30px 5px;
}

  [class*="container"] {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}
/*======================================СТИЛІ ДЛЯ ШАПКИ======================= */

.header__nav {
    text-align: center;
}

.list__item {
    display: inline-block;
    margin: 5px 50px;
    color: rgb(24, 51, 172);
    font-weight: 600;
}
/* =================== стилі для practice-main ========================================== */
.wrapper {
    background-color: #999fe2;
    max-width: 500px;
    margin: 0 auto;
    padding: 15px;
    text-align: center;
 }
 .wrapper p {
    color: rgb(255, 227, 45);
    background-color: #ff0000;
    max-width: 30%;
    display: inline-block;
    vertical-align: top;
    overflow: scroll;
    max-height: 150px;
 }

.wrapper2{
    margin: 0 auto;
    padding: 15px;
    text-align: center;
}
.block{
    margin: 0 auto;
    width: 500px;
    min-height: 100px;
    background-color: #D06B00;
    font-size: 25px;
    font-weight: 500;
    color: rgb(0, 0, 0);
    padding-top: 30px;
}
.cube1 {
    background-color: red;
    
}
.cube2 {
    background-color: yellow;
    margin-top: -40px;
}
.cube3 {
    border-color: blue;
}
.cube4 {
    margin-top: -50px;
    background-color: blueviolet;
}

/* =================================== стилі для блоку practice-footer =================== */
.practice-footer{
    padding: 50px 0;
}
.transition__item {
    display: inline-block;
    margin: 0 20px;
}
.transition-link {
color: #D06B00;
font-weight: 600;
font-family: Poppins;
}
.transition-list {
    text-align: center;
    }
.yellow{
color: yellow;
background-color: rgb(8, 0, 255);
padding: 5px;
border-radius: 5px;
}