 /* підключення файлу скидання стилів */
@import url(reset.css);

/* Підключення шрифтів */
@import url("https://fonts.googleapis.com/css?family=Poppins:regular,500,600,700,800,900");
@import url("https://fonts.googleapis.com/css?family=Inter:regular,500&display=swap");



/* ============================ Основні стилі ================================== */
.wrapper {
	 overflow: clip;
}
[class*="__container"]{
max-width: 1030px;
padding: 0 15px;
margin: 0 auto;
}

body{
    /* background-image: url(../img/city1941/1941.webp);
    background-size: 100%;
    background-repeat: no-repeat; */
}

.header{
    padding-top: 100px;
    position: relative;
}
/* =============================== MAIN ================================= */
.main__container{
    min-height: 800px;
    
    
}
/* ================================================================ */
/* ================================ карточки ====================== */
.information {
    position: absolute;
    top: 50px;
    
    border-radius: 20px;
    border: 3px solid white;
    padding: 20px;
    background-color: #494949;
     
}
.information--position1{
    left: -700px;
    
    /* ====================================== */
    animation-name: slidemoove1, slidemoove2;
    animation-duration: 0.5s, 0.5s;
    animation-delay: 2s, 9s;
    animation-fill-mode: forwards;
}
.information--position2{
    left: 4000px;
     /* ====================================== */
     animation-name: slidemoove3start, slidemoove3end;
    animation-duration: 0.5s, 0.5s;
    animation-delay: 17.5s, 25s;
    animation-fill-mode: forwards;
}




.information--position3{
    left: 3000px;
     /* ====================================== */
     animation-name: slide4start, slide4end;
     animation-duration: 0.5s, 0.5s;
     animation-delay: 25.5s, 32s;
     animation-fill-mode: forwards;
}
 




.information--position5{
     /* ====================================== */
     left: 100px;
    top: 3000px;
       /* ====================================== */
       animation-name: slide5start, slide5end;
       animation-duration: 0.5s, 0.5s;
       animation-delay: 32.5s, 39s;
       animation-fill-mode: forwards;
}
.information--position5:hover{

    animation-play-state: paused;
    }


.information--opacity1{
    left: 100px;
    opacity: 0;
     /* ====================================== */
    animation-name: slideopacity1, slideopacity2;
    animation-duration: 0.5s, 0.5s;
    animation-delay: 9.5s, 17s;
    animation-fill-mode: forwards;
}
.information--opacity1:hover{

    animation-play-state: paused;
    }
.information__container {
}
.tanks-img {
max-width: 400px;
max-height: 400px;
margin-bottom: 10px;
border-radius: 10px;
width: 100%;
}
.tanks-img:not(:last-child){
    margin-bottom: 10px;
}
.information__item {
    max-width: 400px;
}

.information__title {
    text-align: center;
    font-family: "Poppins", sans-serif;
    font-size: 25px;
    color: white;
    margin-bottom: 10px;
}
.information__title:not(:last-child){
    margin-bottom: 10px;
}
.text {
    font-family: "inter", sans-serif;
    font-size: 18px;
    color: beige;
    line-height: 1.5;
}


.theend h1{
text-align: center;
padding: 50px;
color: rgb(0, 0, 0);
font-size: 35px;
font-family: fantasy;
}
.theend--position{
    position: absolute;
    left: -800px;
    top: -500px;
    animation-name:theehdpos;
    animation-duration: 0.5s;
    animation-delay: 39s;
    animation-fill-mode: forwards;
}



@keyframes theehdpos{
    0%{
        left: -800px;
        top: -500px;
    }
    100%{
        top: 200px;
        left: 400px;
    }
}
/* ================================================================ */
/* =============================TANK============================== */
 
.tank{
    position: relative;
   transform: scale(0.5);
   top: 400px;
   left: 1500px;
    animation-name: tankmoove1, tankmoove2;
    animation-fill-mode: forwards;
    animation-duration: 1s;
    animation-delay: 0.5s, 39s;
     
}
.tank__bashniya{
    position: relative;
    top: -98px;
    left: 332px;
    width: 300px;
    height: 106px;
    background-color: rgb(103, 103, 103);
    border-radius: 41px 0 0 41px;
    z-index: 5;
}
.bashniya__verh1{
    position: absolute;
    left: -70px;
    top: 0px;
    width: 200px;
    height: 50px;
    background-color: rgb(103, 103, 103);
    transform: skew(104deg);
    border-radius: 0px 0px 0px 139px;
}
.bashniya__verh2{
    position: absolute;
    left: -138px;
    top: 46px;
    width: 200px;
    height: 62px;
    background-color: rgb(103, 103, 103);
    border-radius: 21px 0px 0px 21px;
    z-index: 2;
}
.broniya__bashni {
    position: absolute;
    left: -163px;
    top: 47px;
    width: 25px;
    height: 54px;
    background-color: rgb(56, 56, 56);
    border-radius: 9px 9px 9px 9px;
}
.zad__bashni{
    position: absolute;
    left: 299px;
    top: 6px;
    width: 69px;
    height: 94px;
    background-color: rgb(56, 56, 56);
    border-radius: 0px 15px 28px 0px;
}
.liyk{
    position: absolute;
    left: 152px;
    top: -29px;
    width: 128px;
    height: 30px;
    background-color: rgb(56, 56, 56);
    border-radius: 50% 50% 1px 0px;
    transition: ease 0.4s all;
}
.lychku {
    position: absolute;
     
    width: 20px;
    height: 20px;
    background-color: rgb(103, 103, 103);
    border-radius: 50% 50% 1px 0px;
    
}
.liychok1 {
    left: -137px;
    top: -41px;
    z-index: 10;
    transition: ease 0.4s all;
}

.liychok2 {
    left: -92px;
    top: -48px;
    transition: ease 0.4s all;
}
.liychok3 {
    left: -47px;
    top: -42px;
    z-index: 10;
    transition: ease 0.4s all;
}
.hrest{
    position: absolute;
    top: 30px;
    left: 70px;
    z-index: 5;
    width: 50px;
    height: 50px;

}

.orel{
    position: absolute;
    top: 80px;
    left: 479px;
    z-index: 15;
    width: 70px;
    height: 70px;
    
}
.dulo {
    position: relative;
    top: 53px;
    left: -222px;
    width: 59px;
    height: 42px;
    background-color: rgb(103, 103, 103);
    border-radius: 9px 0px 0px 9px;
     z-index: 15;
}
.dulo1 {
    position: absolute;
    top: 58px;
    left: -394px;
    width: 238px;
    height: 33px;
    background-color: rgb(56, 56, 56);
    border-radius: 9px 0px 0px 9px;
    z-index: 1;
    transition: ease 0.4s all;
    /* ======================================== */
    animation-name: dulomoovestart1, dulomooveend1;
    animation-duration: 0.5s, 0.5s;
    animation-delay: 16s, 16.5s;
    animation-fill-mode: forwards;
}

.dulo2 {
    position: absolute;
    top: 10px;
    left: -408px;
    width: 238px;
    height: 25px;
    background-color: rgb(103, 103, 103);
    border-radius: 9px 0px 0px 9px;
    z-index: 1;
    transition: ease 0.4s all;
    /* ======================================== */
    animation-name: dulomoovestart2, dulomooveend2;
    animation-duration: 0.5s, 0.5s;
    animation-delay: 16s, 16.5s;
    animation-fill-mode: forwards;
}

.dulo3 {
    position: absolute;
    top: 7px;
    left: -422px;
    width: 1px;
    height: 1px;
    border-radius: 9px 0px 0px 9px;
    padding: 10px 3px;
    border: 7px solid black;
    z-index: 1;
    transition: ease 0.4s all;
    /* ======================================== */
    animation-name: dulomoovestart3, dulomooveend3;
    animation-duration: 0.5s, 0.5s;
    animation-delay: 16s, 16.5s;
    animation-fill-mode: forwards;
}

.dulo4 {
    position: absolute;
    top: 2px;
    left: -481px;
    width: 1px;
    height: 1px;
    border-radius: 9px 9px 9px 9px;
    padding: 7px 17px;
    border: 15px solid black;
    z-index: 1;
    transition: ease 0.4s all;
    /* ======================================== */
    animation-name: dulomoovestart4, dulomooveend4;
    animation-duration: 0.5s, 0.5s;
    animation-delay: 16s, 16.5s;
    animation-fill-mode: forwards;
}
.fire{
    position: absolute;
    top: 8px;
    left: -471px;
    width: 33px;
    height: 31px;
    box-shadow: -20px 0px 20px 20px #ffc300;
    background-color: #ffb200;
    border-radius: 20%;
    transition: ease 0.1s all;
    opacity: 0;

}
.fire--opacity{
     
     /* ======================================== */
     animation-name: firestart;
     animation-duration: 0.3s;
     animation-delay: 16s;
      
}



.tank__korpus{
    top: -100px;
    left: 0px;
    position: relative;
    perspective: 300px;
    width: 800px;
    height: 80px;
    background-color: black;
    transform: skew(330deg);
    z-index: 5;
}
.sub__korpus{
    position: absolute;
    top: 64px;
    left: 49px;
    width: 825px;
    height: 96px;
    background-color: rgb(61, 60, 60);
    z-index: 1;
    transform: skew(18deg);
}
.tank__vuhlopna{
    position: absolute;
    top: -35px;
    left: 802px;
    width: 70px;
    height: 115px;
    transform: skew(330deg);
    background-color: rgb(61, 60, 60);
}
.tank__broniya1,
.tank__broniya2,
.tank__broniya3,
.tank__broniya4,
.tank__broniya5{
    width: 300px;
    height: 70px;
    background-color: rgb(103, 103, 103);
    transform: rotate3d(40, 0, 0, 4deg);
    position: absolute;
    z-index: 5;
}
.tank__broniya1{
    top: 32px;
    left: -4px;
    
}
.tank__broniya2{
    height: 100px;
    top: 46px;
    left: 300px;
}
.tank__broniya3{
    width: 181px;
    height: 100px;
    top: 46px;
    left: 604px;
}
.tank__broniya4{
    width: 17px;
    height: 105px;
    top: 9px;
    left: -40px;
    transform: rotate(50deg);
}
.tank__broniya5{
    width: 11px;
    height: 215px;
    top: -12px;
    left: 870px;
    transform: rotate(294deg);
}
.tank__xodova{
    position: absolute;
    top: -6px;
    left: -7px;
     
}
    
.tank__xodova1{
    position: absolute;
    top: 150px;
    left: -123px;
    width: 278px;
    height: 119px;
    background-color: rgb(68, 70, 70);
    border-radius: 60px;
    transform: rotate(15deg);
    outline: 9.5px dashed rgb(26, 26, 26);
    border: 8px solid rgb(26, 26, 26);
    z-index: 5;
}
.tank__xodova2{
    top: 172px;
    left: 77px;
    position: absolute;
    height: 119px;
    width: 800px;
    background-color: rgb(68, 70, 70);
    border-radius: 60px;
    outline: 9.5px dashed rgb(26, 26, 26);
    border: 8px solid rgb(26, 26, 26);
    z-index: 5;
}
.katok{
    position: relative;
    
    width: 105px;
    height: 105px;
    border-radius: 50%;
    background-color: rgb(143, 143, 143);
    z-index: 20;
    padding: 30px;
    outline: 4px solid black;
    transition: ease 0.4s all;
     /* ======================================= */
     animation-name: katokrotate1, katokrotate2;
     animation-duration: 1s, 2s;
     animation-delay: 1s, 38s ;
     animation-fill-mode: forwards;
}
.val{
    position: absolute;
    top: 12px;
    left: 12px;
    display: inline-block;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: rgb(109, 109, 109);
    padding: 20px;
    border: 2px solid rgb(109, 109, 109);
    outline: 4px solid black;
    
}
.sub__val{
    position: absolute;
    top: 8px;
    left: 7px;
    display: inline-block;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: rgb(10, 10, 10);
    padding: 10px;

}
.bolts{
    position: absolute;
    top: 23px;
    left: 22px;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    outline: 9px dotted rgb(26, 26, 26);
}

.katok--position1{
    top: 180px;
    left: 59px;
}
.katok--position2{
    top: 74px;
    left: 210px;
}

.katok--position3{
    top: -31px;
    left: 354px;
}
.katok--position4{
    top: -135px;
    left: 513px;
}

.katok--position5{
    top: -241px;
    left: 674px;
}
/* =============vedushiy katok====================== */
.katok-veduchiy {
    position: relative;
     
    width: 85px;
    height: 85px;
    border-radius: 50%;
    
    z-index: 20;
    padding: 30px;
    border: 8px solid black;
    outline: 15px dashed black;
    transition: ease 0.4s all;
     /* ======================================= */
     animation-name: katokrotate1, katokrotate2;
     animation-duration: 1s, 2s;
     animation-delay: 1s, 38s ;
     animation-fill-mode: forwards;
}
.katok-veduchiy--position1 {
    left: -101px;
    top: -377px;
}
.katok-veduchiy--position2{
    left: 777px;
    top: -422px;
    z-index: 5;
}
.dusk-katka {
    position: relative;
    top: -10px;
    left: -10px;
    display: inline-block;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: rgb(10, 10, 10);
    padding: 15px;
     
}
.shpucia{
    position: absolute;
    left: 10px;
    top: -29px;
    width: 8px;
    height: 80px;
    border-radius: 25px;
    background-color: rgb(10, 10, 10);
}

.dusk-katka__val1 {
    transform: rotate(45deg);
}
.dusk-katka__val2 {
    transform: rotate(-45deg);
}
.dusk-katka__val3 {
    transform: rotate(90deg);
}
/* =================== задній каток =========================== */
.katok-zadniy {
    position: relative;
    
    width: 105px;
    height: 105px;
    border-radius: 50%;
    background-color: rgb(143, 143, 143);
    z-index: 20;
    padding: 30px;
    outline: 4px solid black;
    z-index: 10;
    transition: ease 0.4s all;
    /* ======================================= */
    animation-name: katokrotate1, katokrotate2;
     animation-duration: 1s, 2s;
     animation-delay: 1s, 38s ;
     animation-fill-mode: forwards;
}
.katok-zadniy--position1 {
    top: -516px;
    left: 591px;
    transform: rotate(160deg);
}
.katok-zadniy--position2 {
    top: -621px;
    left: 433px;
    transform: rotate(150deg);
}
.katok-zadniy--position3 {
    top: -729px;
    left: 280px;
    transform: rotate(90deg);
}
.katok-zadniy--position4 {
    top: -832px;
    left: 136px;
    transform: rotate(60deg);
}

.katok-zadniy--position5 {
    top: -956px;
    left: -28px;
    transform: rotate(30deg);
}
.katok-zadniy__bolts {
    outline: 36px dashed rgb(118, 118, 118);
    width: 35px;
    height: 35px;
    border-radius: 50%;
    top: 35px;
    left: 37px;
    position: absolute;
}
.katok-zadniy__val {
    position: absolute;
    top: 0px;
    left: -5px;
    display: inline-block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: rgb(109, 109, 109);
    padding: 10px;
    border: 2px solid rgb(109, 109, 109);
    outline: 4px solid black;
}
/* ===========спроба анцімації)===================== */
.tank:hover .liyk{
    
    transform: rotate(91deg);
    transform-origin: 120px 20px;
}
.tank:hover .liychok1{
    left: -137px;
    top: -26px;
    transform: rotate(91deg);
    transform-origin: 120px 20px;
}
.tank:hover .liychok2{
    left: -137px;
    top: 23px;
    transform: rotate(91deg);
    transform-origin: 120px 20px;
}
.tank:hover .liychok3{
    left: -142px;
    top: 66px;
    transform: rotate(91deg);
    transform-origin: 120px 20px;
}
/* ============================================ animation ================================= */

@keyframes dulomoovestart1{
    0%{
        left: -394px;
    }

    100%{
        left: -349px;
    }
}
@keyframes dulomooveend1{
    0%{
        left: -349px;
    }

    100%{
        left: -394px;
    }
}



@keyframes dulomoovestart2{
    0%{
        left: -408px;
    }
    100%{
        left: -363px;
    }
}
@keyframes dulomooveend2{
    0%{
        left: -363px;
    }
    100%{
        left: -408px;
    }
}






@keyframes dulomoovestart3{
    0%{
        left: -422px;
    }
    100%{
        left: -377px;
    }
}
@keyframes dulomooveend3{
    0%{
        left: -377px;
    }
    100%{
        left: -422px;
    }
}






@keyframes dulomoovestart4{
    0%{
        left: -481px;
    }
    100%{
        left: -436px;
    }
}
@keyframes dulomooveend4{
    0%{
        left: -436px;
    }
    100%{
        left: -481px;
    }
}


@keyframes firestart{
    0%{
        opacity: 0;
        left: -471px;
    }
    100%{
        opacity: 1;
        left: -471px;
    }
}
@keyframes fireend{
    0%{
        opacity: 1;
        left: -422px;
    }
    100%{
        opacity: 0;
    }
}
  

.soldat{
    position: absolute;
    top: -108px;
    left: 496px;
    width: 94px;
    height: 117px;
    z-index: 1;
    transition: ease 0.3s all;
}

.tank:hover .soldat{
    top: -208px;
}

.tank:hover .katok-veduchiy{
    transform: rotate(-360deg);
}
.tank:hover .katok{
    transform: rotate(-360deg);
}
.tank:hover .katok-zadniy{
    transform: rotate(-360deg);
}

/* анімація танку */
@keyframes tankmoove1{
    0%{
        left: 1500px
    }
    100%{
        left: 500px;
    }
}
@keyframes tankmoove2{
    0%{
        left: 500px
    }
    100%{
        left: 1500px;
    }
}
/* анімація катків */
@keyframes katokrotate1{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(-360deg);
    }
}
@keyframes katokrotate2{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
/* анімація слайдів і тексту */
@keyframes slidemoove1{
    0%{
        left: -700px;
    }
    100%{
        left: 100px;
    }
}
@keyframes slidemoove2{
    0%{
        left: 100px;
    }
    100%{
        left: -700px;
    }
}





@keyframes slidemoove3start{
    0%{
        left: 3000px;
    }
    100%{
        left: 100px;
    }   
}
@keyframes slidemoove3end{
    0%{
        left: 100px;
    }
    100%{
        left: 3000px;
    }   
}





@keyframes slide4start{
    0%{
        left: 3000px;
    }
    100%{
        left: 100px;
    }   
}

@keyframes slide4end{
    0%{
        left: 100px;
    }
    100%{
        left: 3000px;
    }   
}
/* ================================ */
@keyframes slideopacity1{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
@keyframes slideopacity2{
    0%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}
/* ======================================= */
@keyframes slide5start{
    0%{ 
        top: 3000px
    }
    100%{
        top:100px
    }
}

@keyframes slide5end{
    0%{ 
        top: 100px
    }
    100%{
        top:3000px
    }
}